[submodule "SPIRV-Headers"]
	path = subprojects/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "SPIRV-Cross"]
	path = subprojects/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
